body {
  margin: 0;
  font-family: verdana;
}



* {
    box-sizing: border-box;
}

/* Style the header */
.header {
    background-color: #f1f1f1;
	padding: 5px;
    text-align: right;
	width: auto;
}

.header-text{
	font-family: verdana;
	font-size: 20px;
	letter-spacing: 3px;
}


/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
	width: auto;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-family: verdana;
	letter-spacing: 1px;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
    
}


/* Create columns that floats next to each other */
.column {
    float: left;
    width: 100%;
    /*margin: 10px;*/
    /*padding: 15px;*/
    padding-top: 5px;
    overflow: hidden;
    
}

.homep{
	font-family: verdana;
	color: black;
	font-size: 20px;
	letter-spacing: 1px;
	float: right;
	
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: grid;
    clear: both;
}






/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
	width: auto;
	font-family: verdana;
	font-size: 20px;
	letter-spacing: 3px;
}


/*Menu styles are below*/
.gallery {
    margin: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
	
}

.gallery:hover {
    border: 1px solid #777;
    opacity: 0.5;
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 5px;
    text-align: center;
}

.columnmenu{
    float: left;
    width: 50%;
    height: auto;
    /*margin: 5px;*/
    /*padding: 15px;*/
    padding-top: 5px;
	
    
}

.menu-image{
	width: auto;
	height: auto;
	overflow: hidden;
}

.columnmenu p{
	font-family: verdana;
    color: goldenrod;
    font-size: 20px;
    letter-spacing: 3px;
    padding: 10px;
}



/*end of menu styles*/




/*We are styles are below*/
.columnweare{
    float: left;
    width: 50%;
    height: auto;
    /*margin: 10px;*/
    /*padding: 15px;*/
    padding-top: 5px;
}


.header-weare{
    font-family: verdana;
    color: darkgray;
    font-size: 20px;
}

.header-weare p{
    font-family: verdana;
    color: goldenrod;
    font-size: 15px;
    letter-spacing: 3px;
    padding: 10px;
}

.header-weare ul{
    font-family: verdana;
    color: goldenrod;
    font-size: 15px;
    letter-spacing: 3px;
    padding: 10px;
}

.header-weare li{
    padding: 15px;
}

/*end of We are styles*/

/*Requests styles are below*/
.header-request h1{
	font-family: verdana;
    color: darkgray;
    font-size: 20px;
	padding: 10px;
}

.header-request p{
    font-family: verdana;
    color: goldenrod;
    font-size: 15px;
    letter-spacing: 3px;
    padding: 10px;
}

.request-form{
	
	padding: 10px 10px 10px 10px;
	
}

.input-form{
	width: 400px;
	height: 40px;
	font-family: verdana;
	
}

.button-form{
	width: 200px;
	height: 40px;
	font-family: verdana;
	color: goldenrod;
	font-weight: bold;
	font-size: 15px;
	
}

/*end of Requests styles*/









